*{
    margin: 0;
    padding: 0;
}

.body {
	width: 1080px;
	display: grid;
	grid-template-columns: 25% 75%;
	margin: 20px auto 40px auto;
    vertical-align: top;
}

#view {
	height: fit-content;
	max-width: 100%;
}

.main-banner-container {
	font-family: 'SUITE';
	maxwidth: 100%;
	padding: 50px 0;
    background-color: #ffffff;
    vertical-align: top;
}
	
.main-banner-container-sub {
	width: 1080px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    align-items: center;
    text-align: center;
}

#main-banner-title {
	font-weight: 900;
	font-size: 36px;
	margin-bottom: 50px;
}